In [192]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Dense

In [193]:
data = pd.read_csv('/content/drug200.csv')

data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [194]:
X = data.iloc[:, :-1]  
y = data.iloc[:, -1]

In [195]:
label_encoder = LabelEncoder()
X['Sex'] = label_encoder.fit_transform(X['Sex'])
X['BP'] = label_encoder.fit_transform(X['BP'])
X['Cholesterol'] = label_encoder.fit_transform(X['Cholesterol'])

In [196]:
scaler = StandardScaler()
X['Age'] = scaler.fit_transform(X[['Age']])
X['Na_to_K'] = scaler.fit_transform(X[['Na_to_K']])

In [197]:
y = label_encoder.fit_transform(y)

In [198]:
num_classes = len(label_encoder.classes_)

In [199]:
y = keras.utils.to_categorical(y, num_classes=num_classes)

In [200]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [201]:
model = Sequential()
model.add(Dense(units=128, activation='relu', input_dim=5))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=num_classes, activation='softmax'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [202]:
model.fit(X_train, y_train, batch_size=4, epochs=10)

Epoch 1/10
40/40 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.4688
Epoch 2/10
40/40 [==============================] - 0s 2ms/step - loss: 0.3286 - accuracy: 0.7063
Epoch 3/10
40/40 [==============================] - 0s 2ms/step - loss: 0.2182 - accuracy: 0.8188
Epoch 4/10
40/40 [==============================] - 0s 2ms/step - loss: 0.1605 - accuracy: 0.8875
Epoch 5/10
40/40 [==============================] - 0s 3ms/step - loss: 0.1287 - accuracy: 0.8938
Epoch 6/10
40/40 [==============================] - 0s 3ms/step - loss: 0.1038 - accuracy: 0.9187
Epoch 7/10
40/40 [==============================] - 0s 3ms/step - loss: 0.0894 - accuracy: 0.9375
Epoch 8/10
40/40 [==============================] - 0s 3ms/step - loss: 0.0863 - accuracy: 0.9187
Epoch 9/10
40/40 [==============================] - 0s 3ms/step - loss: 0.0713 - accuracy: 0.9625
Epoch 10/10
40/40 [==============================] - 0s 3ms/step - loss: 0.0600 - accuracy: 0.9688

In [203]:
import numpy as np

# Modify the input data
random_data = np.array([[23, 0, 1, 1, 25.355]])  # Assuming the second and third columns are one-hot encoded

# Predict the class
prediction = model.predict(random_data)

# Convert the prediction to a class label
class_index = int(np.round(prediction)[0][0])  # Convert the float index to integer
class_label = label_encoder.inverse_transform([class_index])

print("Predicted class label:", class_label)

1/1 [==============================] - 0s 121ms/step
Predicted class label: ['drugA']

In [204]:
train_loss, train_accuracy = model.evaluate(X_train, y_train)
print('Training Loss:', train_loss)
print('Training Accuracy:', train_accuracy)

5/5 [==============================] - 0s 4ms/step - loss: 0.0520 - accuracy: 0.9812
Training Loss: 0.052006740123033524
Training Accuracy: 0.981249988079071