Creating the dataframe

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([pd.Series(np.random.rand(4)),pd.Series(np.random.rand(4)),pd.Series(np.random.rand(4)),pd.Series(np.random.rand(4))])
df

          0         1         2         3
0  0.940008  0.843398  0.693231  0.756226
1  0.606252  0.972684  0.022354  0.844569
2  0.176958  0.710357  0.257135  0.156329
3  0.063672  0.355597  0.810495  0.870181

Renaming the columns in df.

In [5]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.940008        0.843398        0.693231        0.756226
1        0.606252        0.972684        0.022354        0.844569
2        0.176958        0.710357        0.257135        0.156329
3        0.063672        0.355597        0.810495        0.870181

Descriptive statistics of DF

In [6]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.446723        0.720509        0.445804        0.656826
std          0.403436        0.265806        0.369290        0.337217
min          0.063672        0.355597        0.022354        0.156329
25%          0.148637        0.621667        0.198440        0.606252
50%          0.391605        0.776877        0.475183        0.800397
75%          0.689691        0.875719        0.722547        0.850972
max          0.940008        0.972684        0.810495        0.870181

In [7]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.446723        0.720509        0.445804        0.656826
std          0.403436        0.265806        0.369290        0.337217
min          0.063672        0.355597        0.022354        0.156329
25%          0.148637        0.621667        0.198440        0.606252
50%          0.391605        0.776877        0.475183        0.800397
75%          0.689691        0.875719        0.722547        0.850972
max          0.940008        0.972684        0.810495        0.870181

Checking for null values

In [8]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Display of Random value 2 & Ramdom value 3 using Location and index method

In [27]:
df.loc[0:,'Random value 1	':'Random value 3	']

   Random value 2  Random value 3
0        0.843398        0.693231
1        0.972684        0.022354
2        0.710357        0.257135
3        0.355597        0.810495

In [21]:
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.843398        0.693231
1        0.972684        0.022354
2        0.710357        0.257135
3        0.355597        0.810495